<%= render partial: 'appheader' %>
<section class="intro">
    <div class="intro-body">
    	<div class="background-shade">
<<<<<<< HEAD
		<p id="notice"><%= notice %></p>
		<p><%= @user.name %></p>
		<p><%= @user.provider %></p>		
	</div></div>
=======
			<p id="notice"><%= notice %></p>
			<p><%= @user.name %></p>
			<p><%= @user.provider %></p>		
		</div>
	</div>
>>>>>>> 230742eae2e16a755c73081f990028975e4ac582
</section>