<!DOCTYPE html>
<html>
<<<<<<< HEAD
<head>
  <title>FriendRoulette</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="user-widget">
  <% if current_user %>
    Welcome <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>
<%= yield %>
=======
	<head>
	  <title>FriendRoulette</title>
	  <%= render partial: 'stylesheets' %>
	  <%= render partial: 'meta' %>
	</head>
	<body>
		<%= render partial: 'header' %>

		<%= yield %>
>>>>>>> f5c820271cf449c1b417f6019aa777c8765338a9

		<%= render partial: 'footer' %>

		<%= render partial: 'javascripts' %>
	</body>
</html>
